body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(241, 231, 231);
}

.wrapper {
    width: 100%;
    max-width: 1390px;
    margin: 0 auto;
}

.top-box {
    float: left;
    width: 100%;

}

.top-box1 {
    float: left;
    width: 100%;

}

.top-box2 {
    float: left;
    width: 100%;

}

.logo {
    width: 50%;
    float: left;
}

.logo h2 {
    background: rgb(9, 9, 74);
    color: white;
    margin-bottom: 0;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 0px 0px 5px 0px black;
}

.logo p {
    margin: 0;
    background: white;
    padding: 8px;
}

.logo1 {
    margin-top: -110px;
    width: 50%;
    float: left;
}

.logo1 h2 {
    background: rgb(9, 9, 74);
    margin-bottom: 0;
    color: white;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px black;
}

.logo1 p {
    margin: 0;

    background: white;
    border-radius: 5px;
    padding: 8px;
}

.logo2 {
    position: relative;
    margin-top: 0;
    width: 30%;
    float: left;
}

.logo2 h2 {
    background: rgb(9, 9, 74);
    color: white;
    box-shadow: 0px 0px 5px 0px black;
    margin-bottom: 0;
    padding: 8px;
    border-radius: 5px;
    margin-top: 20px;
}

.logo2 p {
    margin: 0;
    background: white;
    padding: 8px;
}

.ele {
    width: 40%;
    float: left;
    margin-left: 20px;


}

.ele h2 {
    background-color: pink;
    color: rgb(238, 102, 125);
    box-shadow: 0px 0px 4px 0px rgb(232 161 173);
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 0;

}

.ele p {
    background: white;
    margin: 0;
    padding: 8px;
}

.image {
    width: 12%;
    float: left;
    height: 12px;
    width: 12px;
    margin-top: 20px;
}

.leftbut {
    float: right;
    margin-top: 25px;
    margin-left: -5px;
    padding: 4px;
}

.rightbut {
    float: left;
    width: 17%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 146px;
    margin: 20px;
    overflow-y: scroll;
}

.rightbut button {
    background: rgb(28, 28, 96);
    border-radius: 10%;
    height: 35px;
    width: 65px;
    margin: 2px;
    color: white;
}

#seeMoreBtn {
    height: 35px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
    font-weight: bold;
}

.ele table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 15px;
    padding: 2px;
}

.ele1 {
    width: 40%;
    float: left;
    margin-left: 20px;
    background-color: white;
    margin-top: 20px;
    padding-left: 10px;
    display: flex;

}

.ele3 {
    justify-content: flex-end;
    padding-left: 300px;
}

.dropdown {
    float: left;
    overflow: hidden;
    background-color: white;
    margin-left: 18px;
    margin-top: 28px;

}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;

    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    color: black;
    /* Important for vertical align on mobile phones */
}

/* Add a black background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(4, 17, 25)
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.hidden {
    display: none;
}

#addTagBtn {
    background: rgb(1, 1, 52);
    margin-bottom: 0;
    color: white;
    position: sticky;
    left: 0;
    top: 0;
    padding: 8px;
    width: 100%;
    height: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px black;
}



.modal {
    text-align: center;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 150px;
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the modal exactly */
}

input {
    width: 100%;
    height: 35px;
    padding: 5px;
    margin-bottom: 10px;
    border:2px solid #ddd;
    border-radius: 10px;
}

.modal button {
    background: rgb(28, 28, 96);
    border-radius: 10%;
    height: 35px;
    width: 65px;
    color: white;
}
#output {
    text-align: center;
}
.close-button {
    position: fixed;
    top: 1px;
    right: 5px;
    cursor: pointer;
    font-weight: bold;
}